html {
  font-size: 16px;
}

body {
font-family: 'Open Sans', sans-serif;
}

/* --- Header CSS --- */

header {
  background-color: white;
  display: block;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.container {
  max-width: 1050px;
  margin: auto;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo span {
  font-size: 1.5em;
}

.logo img {
  height: 3rem;
  padding-left: 24px;
}

.colmar {
  color: RGBA(74, 74, 74, 1.00);
  font-weight: 700;
}

.academy {
  color: RGBA(155, 155, 155, 1.00);
  font-weight: 400;

}

.desktop a {
  display: inline-block;
  padding-right: 16px;
  color: #383838;
  font-size: 1rem;
  text-decoration: none;
}

.mobile {
  display: none;
}

/* Main Banner CSS*/

h1 {
  font-size: 2.15rem;
  color: #383838;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  color: #383838;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45rem;
  color: #383838;
}

h6 {
  font-size: 1.10rem;
  color: #383838;
  font-weight: 600;
}

p {
  font-weight: 400;
  font-size: .8rem;
  line-height: 1.1rem;
  color: gray;
}

.main-banner {
  background-color: #DCDCDC;
  margin: 0 auto;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
}

.left-banner {
  width: 60%;
  padding: 32px 24px;
}

.left-banner img {
  width: 100%;
}

.right-banner {
  width: 440px;
}

.slogan {
  height: auto;
  padding-left: 20px;
  margin-right: 60px;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.slogan h4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.slogan a {
  background-color: #383838;
  color: white;
  padding: 16px 0px;
  text-align: center;
  text-decoration: none;
}

.slogan a:hover {
  background-color: #808080;
}


/* Learning Section */

.practice {
  display: flex;
  justify-content: space-between;
}

.left-banner h2 {
  padding-top: 32px;
}

.left-banner p {
  padding: 24px 24px 24px 0px;
  color: RGBA(155, 155, 155, 1.00);
  line-height: 1.5;
}

span {
  font-size: .75rem;
  color: #383838;
  line-height: .95rem;
}

.practice .right-banner {
    border-left: 1px solid #DCDCDC;
    padding: 16px 0px 32px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box img.desktop {
  width: 35%;
  padding: 16px;
}

.content {
  padding: 16px 1px 16px 0px;
  width: 100%;
}

.content p {
  padding-top: 8px;

}

.content a {
  color: #4ba3f4;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding-top: .9rem;
}

.info2 {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

.info3 {
 background-color: #DCDCDC;
}


/* Learning Section CSS */

.learning {
  background-color: #EAEBEC;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
}

.headline {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.course {
  background-color: white;
  width: 32%;
  height: 16rem;
  margin-bottom: 20px;
}

.course-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.course h6 {
  padding-bottom: 1rem;
}

.course-content {
  padding: 16px 16px 24px 16px;
}

.course-content span {
  font-size: .8rem;
  color: gray;
}

.course img {
  width: 100%;
}

/* Thesis Section */

.left-banner video {
  width: 100%;
  object-fit: contain;
}

.thesis-section h6 {
  padding-top: 24px;
}

.thesis-section .box img {
  width: 35%;
  padding: 16px;
}

.thesis-section .info1 {
  margin-top: 32px;
}

.flex {
  display: flex;
  justify-content: space-between;
}
