html {
  font-size: 16px;
}

body {
font-family: 'Open Sans', sans-serif;
}

/* --- Header CSS --- */

header {
  background-color: white;
  display: block;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.container {
  max-width: 1050px;
  margin: auto;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo span {
  font-size: 1.5em;
}

.logo img {
  height: 3rem;
  padding-left: 24px;
}

.colmar {
  color: RGBA(74, 74, 74, 1.00);
  font-weight: 700;
}

.academy {
  color: RGBA(155, 155, 155, 1.00);
  font-weight: 400;

}

.desktop a {
  display: inline-block;
  padding-right: 16px;
  color: #383838;
  font-size: 1rem;
  text-decoration: none;
}

.mobile {
  display: none;
}

/* Main Banner CSS*/

h1 {
  font-size: 2.15rem;
  color: #383838;
  font-weight: 700;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.45rem;
  color: #383838;
}

.main-banner {
  background-color: #DCDCDC;
  margin: 0 auto;
}

.main-banner .container {
  display: flex;
  justify-content: space-between;
}

.left-banner {
  width: 60%;
  padding: 32px 24px;
}

.left-banner img {
  width: 100%;
}

.right-banner {
  width: 440px;
}

.slogan {
  height: auto;
  padding-left: 20px;
  margin-right: 60px;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.slogan h4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.slogan a {
  background-color: #383838;
  color: white;
  padding: 16px 0px;
  text-align: center;
  text-decoration: none;
}

.slogan a:hover {
  background-color: #808080;
}
